.bg-primary {
    background-color: #289BDE !important;
}

.btn-primary {
    background-color: #289BDE !important;
    border-color: #289BDE !important;
}

.text-primary {
    color: #289BDE !important;
}

.slider-section {
    height: 400px;
}

.carousel img {
    height: 400px;
}

.slider-item {
    color: white;
    height: 600px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slider-item-1 {
    background-image: url('images/cover/cover-1.png');
}

.slider-item-2 {
    background-image: url('images/cover/cover-2.jpg');
}

.slider-item-3 {
    background-image: url('images/cover/cover-3.jpg');
}

.register {
    padding: 60px 75px;
}
.footer-icon{
    padding-bottom: 50px;
}
.footer-icon i{
    padding: 0 10px;
    font-size: 30px;

}
.footer-menu{
    text-decoration: none;
    color: white;
}

@media (max-width: 390px) {
    .register {
        padding: 30px 20px;
        flex-direction: column;
    }
    .course-card img {
        width: 100% !important;
    }

    .slider-item {
        height: 300px;
    }
}